# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages that Data Scientists use
+ List commonly used libraries used by Data Scientists
+ List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit Learn
4. Matplotlib
5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook in Anaconda|
|RStudio|
|JupyterLite|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 1+2
2. 3-2
3. 3*3
4. 4/2
5. 5%2
6. 2**3

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author